<!DOCTYPE html>
<html>
    <head>
        <title>stdicon{% block title %}{% endblock %}</title>
        <style>
a img {
    border : 0px;
}
body {
    line-height: 150%;
    color : #111;
}
a.external {
    background : url(/static/external.png) center right no-repeat;
    padding: 0 13px 0 0;
}
.std {
    color : #666;
}
{% block css %}{% endblock %}
        </style>
        <link rel="shortcut icon" href="/html" />
    </head>
    <body>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

<script type="text/javascript">
  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  /* required */
  key: 'stdicon',
  host: 'stdicon.uservoice.com', 
  forum: '27275', 
  /* optional */
  alignment: 'right',
  background_color:'#000', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
})
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-149816-9");
pageTracker._trackPageview();
} catch(err) {}</script>

    </body>
</html>
