{% extends "base.html" %}

{% block content %}
<h1>Icons for {{set}}</h1>
<ul>
{% for icon in icons %}
    <li><img src="/{{icon.set.name}}/{{icon.mimetype}}" /> {{ icon.mimetype }}</li>
{% endfor %}
</ul>
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="set" value="{{ set }}" />
    New : 
    <label for="mimetype">Mimetype:</label> <input id="mimetype" name="mimetype"/>
    <label for="contents">File:</label> <input type="file" id="contents" name="contents"/>
    <input type="submit" value="Create Icon"/>
</form>
{% endblock content %}
