{% extends "base.html" %}

{% block title %} - {{set}}{% endblock %}

{% block css %}
.icons div {
    border : 1px solid #ddd;
    float : left;
    margin : 10px;
    padding : 10px;
    text-align : center;
    color : #222;
}
h1 a {
    text-decoration : none;
    color : black;
}
{% endblock %}

{% block content %}
<h1><a href="/"><span class="std">std</span>icon<span class="std">s</a> for 
{% if set.url %}<a href="{{ set.url }}">{{ set }}</a>
{% else %}{{ set }}
{% endif %}</h1>
<div class="icons">
{% for icon in icons %}
    <div>
       <img src="/{{icon.set.name}}/{{icon.mimetype}}" />
       <br/> {{ icon.mimetype }}
    </div>
{% endfor %}
</div>
{% endblock %}
