{% extends "base.html" %}

{% block title %} - {{set.name}}{% endblock %}

{% block css %}
.icons div {
    border : 1px solid #ddd;
    float : left;
    margin : 10px;
    padding : 10px;
    text-align : center;
    color : #222;
}
a {
    text-decoration : none;
    color : black;
}
{% endblock %}

{% block content %}
<h1><a href="/"><span class="std">std</span>icon<span class="std">s</a> for 
{% if set.url %}<a class="external" href="{{ set.url }}">{{ set.name }}</a>
{% else %}{{ set.name }}
{% endif %}</h1>
<div class="icons">
{% for icon in icons %}
    <a href="/{{icon.set.name}}/{{icon.mimetype}}">
        <div title="{{ icon.mimetype }}">
            <img src="/{{icon.set.name}}/{{icon.mimetype}}" />
            <br/>{{ icon.mimetype|elipses:"5,10" }}
        </div>
    </a>
{% endfor %}
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script>
$(function() {
    var height = 0;
    $("img").each(function() {
        var h = $(this).height();
        if (height < h)
            height = h;
    });
    
    $("img").each(function() {
        $(this).height(height);
    });
})
</script>
{% endblock %}
