{% extends "base.html" %}

{% block css %}
#blurb {
    border : 1px solid #ddd;
    padding : 20px;
    background : #eff6ff;
}
.header h1 {
    text-align : center;
}
#examples {
    border : 1px solid #ddd;
    padding : 20px;
    margin : 10px 0px;
    background : #fff6ef;
}
#sets {
    border : 1px solid #ddd;
    padding : 20px;
    margin : 10px 0px;
    background : #f6ffef;
}
{% endblock %}

{% block content %}
<div class="header">
    <h1><span class="std">std</span>icon</h1>
</div>
<div>
    <div id="blurb">
        If you've ever had a need for filetype icons, just hotlink ours. You can use a file extention like <code><img src="/html?size=16">/html</code>, a <a href="http://en.wikipedia.org/wiki/MIME">mimetype</a> like <code><img src="/application/pdf?size=16">/application/pdf</code> and/or choose from a specific set like <code><img src="/silk/html">/silk/html</code> or even combine them like <code><img src="/silk/image/png">/silk/image/png</code>. You can also use the <code><img src="/html?size=16">?size=16</code> to get a consistent size of icons, and the <code><img src="/bogus.icon?default=http%3a%2f%2fmetaward.com%2ffavicon.ico" /> ?default=http%3a%2f%2fmetaward.com%2ffavicon.ico</code> to force a default instead of an HTTP 404.
    </div>
    <div id="examples">
        <h2>Quick Examples</h2>
        <ul><li>
        <a href="html"><img src="/html" height="16" />/html</a>
        </li><li>
        <a href="/crystal/html"><img src="/crystal/html" height="16" />/crystal/html</a>
        </li><li>
        <a href="/crystal/text/html"><img src="/crystal/text/html" height="16" />/crystal/text/html</a>
        </li><li>
        <a href="/crystal/text/html?size=16"><img src="/crystal/text/html?size=16" height="16" />/crystal/text/html?size=16</a>
        </li><li>
        <a href="/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml"><img src="/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml" height="16" />/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml</a>
        </li></ul>
    </div>

    <div id="sets">
        <h2>Sets</h2>
        <ul>
        {% for set in sets %}
            <li><a href="/{{set.name}}/">{{ set.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
