{% extends "base.html" %}

{% block css %}
#blurb {
    border : 1px solid #ddd;
    padding : 20px;
    background : #eff6ff;
}
.header h1 {
    text-align : center;
}
#examples, #sets, #mimetypes {
    border : 1px solid #ddd;
    padding : 20px;
    margin : 10px 0px;
}

#examples {
    background : #fff6ef;
}
#sets {
    background : #f6ffef;
}
#mimetypes {
    background : #effff6;
}
{% endblock %}

{% block content %}
<div class="header">
    <h1><span class="std">std</span>icon</h1>
</div>
<div>
    <div id="blurb">
        If you've ever had a need for filetype icons, just hotlink ours. You can use a file extention like <code><img src="/html?size=16">/html</code>, a <a href="http://en.wikipedia.org/wiki/MIME">mimetype</a> like <code><img src="/application/pdf?size=16">/application/pdf</code> and/or choose from a specific set like <code><img src="/silk/html">/silk/html</code> or even combine them like <code><img src="/silk/image/png">/silk/image/png</code>. You can also use the <code><img src="/html?size=16">?size=16</code> to get a consistent size of icons, and the <code><img src="/bogus.icon?default=http%3a%2f%2fmetaward.com%2ffavicon.ico" /> ?default=http%3a%2f%2fmetaward.com%2ffavicon.ico</code> to force a default instead of an HTTP 404.
    </div>
    <div id="examples">
        <h2>Quick Examples</h2>
        <ul><li>
        <a href="html"><img src="/html" height="16" />/html</a>
        </li><li>
        <a href="/crystal/html"><img src="/crystal/html" height="16" />/crystal/html</a>
        </li><li>
        <a href="/crystal/text/html"><img src="/crystal/text/html" height="16" />/crystal/text/html</a>
        </li><li>
        <a href="/crystal/text/html?size=16"><img src="/crystal/text/html?size=16" height="16" />/crystal/text/html?size=16</a>
        </li><li>
        <a href="/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml"><img src="/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml" height="16" />/garbage?size=16&default=http%3a%2f%2fstdicon.com%2fhtml</a>
        </li></ul>
    </div>

    <div id="sets">
        <h2>Sets</h2>
        <ul>
        {% for iconset in sets %}
            <li><img src="/{{ iconset.set.name }}/{{ iconset.icon.mimetype }}?size=16" /> <a href="/{{ iconset.set.name }}/">{{ iconset.set.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="mimetypes">
        <h2>Conversions</h2>
        <p>File extension to mimetype lookup like <a href="/ext/html">/ext/html</a> or <a href="/ext/mp3">/ext/mp3</a>
        <p>Mimetype fo file extension like <a href="/mimetype/application/postscript">/mimetype/application/postscript</a> or <a href="/mimetype/application/zip">/mimetype/application/zip</a>
        <p>Or the whole dump in <a href="/mimetypes">json</a> or <a href="/mimetypes?format=xml">xml</a> (from <a href="http://docs.python.org/library/mimetypes.html">python mimetypes</a> and <a href="http://www.home.unix-ag.org/bmeurer/files/dotfiles/dot.mime.types">apache</a>)
    </div>
</div>
{% endblock %}
